{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MediCare</title>
    <link
      type="image/x-icon"
      href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"
      rel="icon"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
      rel="stylesheet"
    />
    <!-- CSS Files -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/bootstrap.min.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/pharmacy/style.css' %}"
    />
  </head>

  <body>
    <div class="main-wrapper">
      <nav
          class="navbar navbar-expand-lg navbar-dark bg-dark"
          id="ftco-navbar"
        >
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img
                src="{% static 'HealthStack-System/images/Normal/logo.png' %}"
                class="img-fluid"
                alt="Shop Logo"
              />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#ftco-nav"
              aria-controls="ftco-nav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a href="{% url 'patient-dashboard'%}" class="nav-link"
                    >Dashboard</a
                  >
                </li>
                <li class="nav-item">
                  <a href="{% url 'checkout' %}" class="nav-link">Checkout</a>
                </li>
                <li class="nav-item cart">
                  <a href="{% url 'cart' %}" class="nav-link position-relative">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span
                      class="position-absolute badge rounded-pill bg-primary"
                    >
                      {{order.count_cart_items}}
                    </span>
                  </a>
                </li>
              </ul>
              <div class="d-flex">
                <div class="search-box">
                  <form action="{% url 'pharmacy_shop' %}" method="GET">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search medicine"
                      name="search_query"
                      value="{{search_query}}"
                    />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </nav>
      <div class="container-fluid">
        <!-- Medicine Section -->
        <section class="medicine-section py-5">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 p-md-5">
                <!-- Medicine Categories Navigation -->
                <div class="row mb-4">
                  <div class="col-12">
                    <ul
                      class="nav nav-pills justify-content-center"
                      id="v-pills-tab"
                      role="tablist"
                    >
                      <li class="nav-item" role="presentation">
                        <button
                          class="nav-link active"
                          id="v-pills-0-tab"
                          data-bs-toggle="pill"
                          data-bs-target="#v-pills-0"
                          type="button"
                          role="tab"
                          aria-controls="v-pills-0"
                          aria-selected="true"
                        >
                          All Medicine
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>

                <!-- Medicine Display Section -->
                <div class="tab-content" id="v-pills-tabContent">
                  <div
                    class="tab-pane fade show active"
                    id="v-pills-0"
                    role="tabpanel"
                    aria-labelledby="v-pills-0-tab"
                  >
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                      {% for medicine in medicines %}
                      <div class="col">
                        <div class="card h-100 text-center">
                          <a
                            href="{% url 'product-single' pk=medicine.serial_number %}"
                            class="text-decoration-none"
                          >
                            <img
                              src="{{ medicine.featured_image.url }}"
                              class="card-img-top img-fluid"
                              alt="Medicine Image"
                              style="height: 300px; object-fit: cover"
                            />
                          </a>
                          <div class="card-body">
                            <h5 class="card-title">
                              <a
                                href="{% url 'product-single' pk=medicine.serial_number %}"
                                class="text-decoration-none"
                              >
                                {{medicine.name}}
                              </a>
                            </h5>
                            <p class="card-text fw-bold">
                              {{medicine.price}} EGP
                            </p>
                            <a
                              href="{% url 'add-to-cart' pk=medicine.serial_number %}"
                              class="btn btn-outline-primary"
                            >
                              Add to cart
                            </a>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include 'footer.html' %}
    </div>

    <!-- Scripts -->
    <script src="{% static 'HealthStack-System/js/jquery.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/all.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/script.js' %}"></script>
  </body>
</html>
